<div class="main-content">
    <div class="container-fluid align-content-center">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">{{id? 'Editar Sucursal': 'Nueva Sucursal'}}
                            <strong>{{' : '+formValue.razon_social}}</strong></h4>
                        <p class="card-category"> </p>
                    </div>
                    <!-- <div>
                        <pre class="card card-block card-header mb-3">Model: {{selected | json}}</pre>
                        <input [(ngModel)]="selected" [typeahead]="states" [isAnimated]="true"
                           class="form-control">
                    </div> -->
                    <div class="card-body">
                        <form [formGroup]="sucursalFormGroup" (ngSubmit)="onSubmit()">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="razon_social">Razon social*</label>
                                    <input type="text" name="razon_social" class="form-control" placeholder="Razon social" formControlName="razon_social" [ngClass]="{ 'is-invalid': (submitted && formControls.razon_social.errors && formControls.razon_social.errors.required) || (formControls.razon_social.errors?.required && formControls.razon_social.touched && !submitted) }">
                                    <div *ngIf="(submitted && formControls.razon_social.errors && formControls.razon_social.errors.required) && formControls.razon_social.dirty || (formControls.razon_social.errors?.required && formControls.razon_social.touched && !submitted)">
                                        <p class="validate-error">El campo requerido</p>
                                    </div>
                                </div>

                                 <div class="form-group col-md-6">
                                    <label for="telefono">Telefono/Celular</label>
                                    <input name="telefono" class="form-control" placeholder="Telefono" formControlName="telefono" [ngClass]="{ 'is-invalid': (submitted && formControls.telefono.errors && formControls.telefono.errors.required) || (formControls.telefono.errors?.required && formControls.telefono.touched && !submitted) }">
                                    <div *ngIf="(submitted && formControls.telefono.errors && formControls.telefono.errors.required) || (formControls.telefono.errors?.required && formControls.telefono.touched && !submitted)">
                                        <p class="validate-error">El campo es requerido</p>
                                    </div>
                                    <div *ngIf="formControls.telefono.errors?.pattern">
                                        <p class="validate-error">Caracteres no validos</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="descripcion">Descripcion</label>
                                    <input type="text" name="descripcion" class="form-control" placeholder="Descripcion" formControlName="descripcion" [ngClass]="{ 'is-invalid': (submitted && formControls.descripcion.errors && formControls.descripcion.errors.required) || (formControls.descripcion.errors?.required && formControls.descripcion.touched && !submitted) }">
                                    <div *ngIf="(submitted && formControls.descripcion.errors && formControls.descripcion.errors.required) || (formControls.descripcion.errors?.required && formControls.descripcion.touched && !submitted)">
                                        <p class="validate-error">El campo requerido</p>
                                    </div>
                                    <div *ngIf="formControls.descripcion.errors?.pattern">
                                        <p class="validate-error">Caracteres no validos</p>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="tipo">Tipo</label>
                                    <!-- <input type="text" name="tipo" class="form-control" placeholder="tipo" formControlName="tipo" [ngClass]="{ 'is-invalid': (submitted && formControls.tipo.errors && formControls.tipo.errors.required) || (formControls.tipo.errors?.required && formControls.tipo.touched && !submitted) }"> -->
                                    <select name="tipo" class="custom-select" id="tipo" formControlName="tipo" [ngClass]="{ 'is-invalid': (submitted && formControls.tipo.errors && formControls.tipo.errors.required) || (formControls.tipo.errors?.required && formControls.tipo.touched && !submitted) }" >
                                            <option value="0" disabled="true">- Selecionar tipo -</option>
                                            <option *ngFor="let tipos of tipos; let i = index" [value]="tipos">
                                              {{tipos}}
                                            </option>
                                    </select>
                                    <div *ngIf="(submitted && formControls.tipo.errors && formControls.tipo.errors.required) || (formControls.tipo.errors?.required && formControls.tipo.touched && !submitted)">
                                        <p class="validate-error">El campo es requerido</p>
                                    </div>
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="nit">NIT</label>
                                    <input name="nit" class="form-control" placeholder="nit" formControlName="nit">
                                    <div *ngIf="(submitted && formControls.nit.errors && formControls.nit.errors.required) || (formControls.nit.errors?.required && formControls.nit.touched && !submitted)">
                                        <p class="validate-error">El campo es requerido</p>
                                    </div>
                                    <div *ngIf="formControls.nit.errors?.pattern">
                                        <p class="validate-error">Caracteres no validos</p>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="direccion">Direccion</label>
                                    <input name="direccion" class="form-control" placeholder="direccion" formControlName="direccion">
                                    <div *ngIf="(submitted && formControls.direccion.errors && formControls.direccion.errors.required) || (formControls.direccion.errors?.required && formControls.direccion.touched && !submitted)">
                                        <p class="validate-error">El campo es requerido</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                    <div class="col-md-6">
                                        <label for="imagen">Imagen</label>
                                        <input type="file" name="imagen" class="form-control-file" accept=".png, .jpg, .jpeg" #fileInput (change)="fileProgress($event)">
                                    </div>
                                    <div class="col-md-6">
                                        <div class="d-flex justify-content-center">
                                            <img *ngIf="imageUrl" [src]="imageUrl" alt="" height="80" width="100">
                                        </div>
                                    </div>
                            </div>
                            <div class="border mt-4">
                                <div class="form-row">
                                    <div class="form-group col-md-2">
                                        <label for="dias">Dias de atencion</label>
                                        <div class="d-inline d-flex">
                                             <p  class="ml-4">Lunes</p>
                                             <div class="ml-3 pl-3">
                                                 <input type="checkbox" formControlName="lunes">
                                             </div>
                                        </div>
                                    </div>
                                    <!-- <p>{{formValue.lunes}} </p> -->
                                    <div class="form-group col-md-4">
                                        <label for="hora_apertura">Hora Apertura</label>
                                        <input name="lunesha" class="form-control" placeholder="00:00 am" formControlName="lunesha" [attr.disabled]="formValue.lunes? null: ''">
                                        <div *ngIf="formControls.lunesha.errors?.pattern">
                                            <p class="validate-error">Caracteres no validos</p>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="luneshc">Hora Cierre</label>
                                        <input name="luneshc" class="form-control" placeholder="00:00 pm" formControlName="luneshc" [attr.disabled]="formValue.lunes? null: ''">
                                        <div *ngIf="formControls.luneshc.errors?.pattern">
                                            <p class="validate-error">Caracteres no validos</p>
                                        </div>
                                    </div>
                               </div>
                               <div class="form-row">
                                    <div class="form-group col-md-2">
                                       <div class="d-inline d-flex">
                                           <p class="ml-3">Martes</p>
                                           <div class="ml-3 pl-3">
                                               <input type="checkbox" formControlName="martes">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <input name="martesha" class="form-control" placeholder="00:00 am" formControlName="martesha" [attr.disabled]="formValue.martes? null: ''">
                                        <div *ngIf="formControls.martesha.errors?.pattern">
                                            <p class="validate-error">Caracteres no validos</p>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <input name="marteshc" class="form-control" placeholder="00:00 pm" formControlName="marteshc" [attr.disabled]="formValue.martes? null: ''">
                                        <div *ngIf="formControls.marteshc.errors?.pattern">
                                            <p class="validate-error">Caracteres no validos</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-2">
                                        <div class="d-inline d-flex">
                                            <p class="ml-3">Miercoles</p>
                                            <div class="ml-2 pl-2">
                                                <input type="checkbox" formControlName="miercoles">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <input name="miercolesha" class="form-control" placeholder="00:00 am" formControlName="miercolesha" [attr.disabled]="formValue.miercoles? null: ''">
                                        <div *ngIf="formControls.miercolesha.errors?.pattern">
                                            <p class="validate-error">Caracteres no validos</p>
                                        </div>
                                    </div>
                                        <div class="form-group col-md-4">
                                            <input name="miercoleshc" class="form-control" placeholder="00:00 pm" formControlName="miercoleshc" [attr.disabled]="formValue.miercoles? null: ''">
                                            <div *ngIf="formControls.miercoleshc.errors?.pattern">
                                                <p class="validate-error">Caracteres no validos</p>
                                            </div>
                                        </div>
                                </div>
                                <div class="form-row">
                                        <div class="form-group col-md-2">
                                            <div class="d-inline d-flex">
                                                 <p class="ml-3">Jueves</p>
                                                 <div class="ml-3 pl-3">
                                                     <input type="checkbox" formControlName="jueves">
                                                 </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <input name="juevesha" class="form-control" placeholder="00:00 am" formControlName="juevesha" [attr.disabled]="formValue.jueves? null: ''">
                                            <div *ngIf="formControls.juevesha.errors?.pattern">
                                                <p class="validate-error">Caracteres no validos</p>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <input name="jueveshc" class="form-control" placeholder="00:00 pm" formControlName="jueveshc" [attr.disabled]="formValue.jueves? null: ''">
                                            <div *ngIf="formControls.jueveshc.errors?.pattern">
                                                <p class="validate-error">Caracteres no validos</p>
                                            </div>
                                        </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-2">
                                        <div class="d-inline d-flex">
                                            <p class="ml-3">Viernes</p>
                                            <div class="ml-3 pl-3">
                                                <input type="checkbox" formControlName="viernes">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <input name="viernesha" class="form-control" placeholder="00:00 am" formControlName="viernesha" [attr.disabled]="formValue.viernes? null: ''">
                                        <div *ngIf="formControls.viernesha.errors?.pattern">
                                            <p class="validate-error">Caracteres no validos</p>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <input name="vierneshc" class="form-control" placeholder="00:00 pm" formControlName="vierneshc" [attr.disabled]="formValue.viernes? null: ''">
                                        <div *ngIf="formControls.vierneshc.errors?.pattern">
                                            <p class="validate-error">Caracteres no validos</p>
                                        </div>
                                    </div>
                                </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="direccion">Latitud</label>
                                <input type="text" name="latitud" class="form-control" placeholder="latitud" formControlName="latitud" [ngClass]="{ 'is-invalid': (submitted && formControls.latitud.errors && formControls.latitud.errors.required) || (formControls.latitud.errors?.required && formControls.latitud.touched && !submitted) }">
                                <div *ngIf="(submitted && formControls.latitud.errors && formControls.latitud.errors.required) && formControls.latitud.dirty || (formControls.latitud.errors?.required && formControls.latitud.touched && !submitted)">
                                    <p class="validate-error">El campo requerido</p>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="relacion_usuario">Longitud</label>
                                <input type="text" name="longitud" class="form-control" placeholder="longitud" formControlName="longitud" [ngClass]="{ 'is-invalid': (submitted && formControls.longitud.errors && formControls.longitud.errors.required) || (formControls.longitud.errors?.required && formControls.longitud.touched && !submitted) }">
                                <div *ngIf="(submitted && formControls.longitud.errors && formControls.longitud.errors.required) && formControls.longitud.dirty || (formControls.longitud.errors?.required && formControls.longitud.touched && !submitted)">
                                    <p class="validate-error">El campo requerido</p>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="relacion_usuario">Relacion usuario</label>
                                    <input type="text" name="relacion_usuario" class="form-control" placeholder="relacion_usuario" formControlName="relacion_usuario" [ngClass]="{ 'is-invalid': (submitted && formControls.relacion_usuario.errors && formControls.relacion_usuario.errors.required) || (formControls.relacion_usuario.errors?.required && formControls.relacion_usuario.touched && !submitted) }">
                                    <div *ngIf="(submitted && formControls.relacion_usuario.errors && formControls.relacion_usuario.errors.required) && formControls.relacion_usuario.dirty || (formControls.relacion_usuario.errors?.required && formControls.relacion_usuario.touched && !submitted)">
                                        <p class="validate-error">El campo requerido</p>
                                    </div>
                                </div>
                        </div> -->
                        <button type="submit" class="btn btn-success float-right">Guardar Sucursal</button>
                        <button class="btn btn-danger float-right" (click)="cancelar()">Cancelar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>