<div class="main-content">
  <div class="container-fluid align-content-center">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">{{ id?  'Editar Usuario' : 'Nuevo Usuario'}}</h4>
            <p class="card-category">Complete los campos</p>
          </div>
          <div class="card-body">
            <form [formGroup]="userFormGroup" (ngSubmit)="onSubmit()">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="nombres">Nombre*</label>
                  <input type="text" name="autor" class="form-control" placeholder="Nombres" formControlName="nombres">
                  <div class="validate-error">El campo es requerido</div>
                </div>
                <div class="form-group col-md-6">
                  <label for="apellidos">Apellidos*</label>
                  <input type="text" name="autor" class="form-control" placeholder="Apellidos"
                    formControlName="apellidos">
                  <div class="validate-error">El campo es requerido</div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="username">Nombre de usuario*</label>
                  <input type="text" name="portada" class="form-control" placeholder="Username"
                    formControlName="userName">
                  <div class="validate-error">El campo es requerido</div>
                </div>
                <div class="form-group col-md-6">
                  <label for="email">email*</label>
                  <input type="email" name="email" class="form-control" placeholder="email@example.com"
                    formControlName="email">
                  <div class="validate-error">El campo es requerido</div>
                </div>
                <div class="form-group col-md-6">
                  <label for="password">Password</label>
                  <input type="password" name="password" class="form-control" placeholder="*****"
                    formControlName="password">
                </div>
                <div class="form-group col-md-6">
                  <label for="password">Telefono*</label>
                  <input type="text" name="telefono" class="form-control" placeholder="75478976"
                    formControlName="telefono">
                  <div class="validate-error">El campo es requerido</div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-md-6">
                  <label for="link_amazon">Imagen</label>
                  <input type="file" name="portada" class="form-control" placeholder="Portada"
                    accept=".png, .jpg, .jpeg" #fileInput (change)="fileProgress($event)">
                </div>

                <div class="col-md-6">
                  <div class="d-flex justify-content-center">
                    <img *ngIf="imageUrl" [src]="imageUrl" alt="" height="80" width="100">
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="rol">Rol</label>
                  <select name="rol" class="form-control" formControlName="rol" id="rol">
                    <option value="0" disabled="true">- Selecionar rol -</option>
                    <option *ngFor="let rols of roles; let i = index" [value]="rols">{{rols}}</option>
                    <!--<option value="0">Cliente</option> -->
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label for="genero">Genero</label>
                  <select name="oferta" class="form-control" formControlName="genero">
                    <option value="0" disabled="true">- Selecionar genero -</option>
                    <option value="FEMENINO">Femenino</option>
                    <option value="MASCULINO">Masculino</option>
                  </select>
                </div>
              </div>
              <button type="submit" class="btn btn-success float-right">Guardar Usario</button>
              <button type="submit" class="btn btn-danger float-right">Cancelar</button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>