<div class="container-fluid">
    <div class="row">
        <div class="col">
            <app-favorite-food></app-favorite-food>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae obcaecati impedit facere sed ex necessitatibus officia, at adipisci repudiandae corporis ab mollitia tempore totam ipsum amet magni sit vitae aliquam!
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <div class="row">
                <div *ngFor="let sucursal of sucursales">
                    <div class="col">
                        <div class="card fondo-card">
                            <img *ngIf="sucursal.imagen" [src]="sucursal.imagen" alt="Card image cap" width="300px" height="220px">
                            <img *ngIf="!sucursal.imagen" src="/assets/img/restaurante/res2.jpg" alt="Card image cap" width="300px" height="220px">
                            <!-- <a href="#"> <img class="card-img-top" src="http://www.hotelgloria.com.bo/imagenes/image-restaurant3.jpg" alt="Card image cap" width="300px" height="220px"></a> -->
                            <div class="card-body">
                                <p>
                                    <a href="#" class="card-link">
                                        <h5 class="card-title text-center font-card-title">{{sucursal.razon_social}}</h5>
                                    </a>
                                </p>
                                <p class="card-text font-card-body text-justify">{{sucursal.descripcion}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-2 ">
            <app-promotions></app-promotions>
        </div>
    </div>
</div>