<div class="container">
    <div class="row">
        <div class="col">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSb04iGhumkx8nL8UhHXP2M7EPHDmWv9esfVdHasJpCyoGQuXA" alt="" width="180px" height="180px">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXaUi8COe6u30f7mDjCkj6whpYcx9gjI56lQe-xKVx4yTbNlOC" alt="" width="180px" height="180px">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="https://www.guatemala.com/fotos/201604/13043320-1361669547192556-772478376935998181-n-e1461592006692.jpg" alt="" width="180px" height="180px">
        </div>
    </div>

</div>