<!-- Modal -->
<div id="modalUser" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nuevo Usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="linkid">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-book" [formGroup]="userFormGroup" (ngSubmit)="onSubmit()">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="autor">Nombre</label>
              <input type="text" name="autor" class="form-control" placeholder="nombres" formControlName="nombres">
            </div>
            <div class="form-group col-md-6">
              <label for="autor">Apellidos</label>
              <input type="text" name="autor" class="form-control" placeholder="nombres" formControlName="apellidos">
            </div>
            <!-- <div class="form-group col-md-6">
              <label for="oferta">Oferta</label>
              <select name="oferta" class="form-control">
                <option value="1">SI</option>
                <option value="0">NO</option>
              </select>
            </div> -->
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="portada">Nombre de usuario</label>
              <input type="text" name="portada" class="form-control" placeholder="Portada" formControlName="userName">
            </div>
            <div class="form-group col-md-6">
              <label for="link_amazon">email</label>
              <input type="email" name="link_amazon" class="form-control" placeholder="email@example.com"
                formControlName="email">
            </div>
          </div>
          <!-- <div class="form-group">
            <label for="descripcion">Descripción</label>
            <textarea name="descripcion" class="form-control" cols="50" rows="4"></textarea>
          </div> -->
          <button type="submit" class="btn btn-primary float-right">Guardar Usario</button>
        </form>
      </div>
    </div>
  </div>
</div>