.primero {
    display: none;
}

#primero:hover .primero {
    display: flex;
}

.card {
    height: 120px;
}

.titulo_favorite {
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
}

.font-text {
    font-family: 'Courgette', cursive;
}