<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <div class="ordena">
                            <h4 class="card-title ">Tabla Usuarios</h4>
                            <p class="card-category"> Informacion Usuarios</p>
                        </div>
                        <!--
                            <button class="ordena btn btn-success float-right mb-3" type="button" data-toggle="modal"
                            data-target="#modalUser">Nuevo</button>
                        -->
                        <a routerLink="/admin/create-user" routerLinkActive="router-link-active"
                        class="ordena btn btn-success float-right mb-3">Nuevo</a>
                        <input type="text" value="" class=" float-md-right mr-3 mt-2" placeholder="Search...">
                        <div class="dropdown ordena float-md-right mr-3">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  SHOW ROLES
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <a class="dropdown-item" href="#">Todos</a>
                                  <a class="dropdown-item" href="#">Administradores</a>
                                  <a class="dropdown-item" href="#">Propietarios</a>
                                  <a class="dropdown-item" href="#">Colaboradores</a>
                                  <a class="dropdown-item" href="#">Clientes</a>
                                </div>
                        </div>
                            <div class="dropdown ordena float-md-right mr-3">
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      10
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                      <a class="dropdown-item" href="#">25</a>
                                      <a class="dropdown-item" href="#">50</a>
                                      <a class="dropdown-item" href="#">100</a>
                                    </div>
                            </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Nombre
                                    </th>
                                    <th>
                                        Apellido
                                    </th>
                                    <th>
                                        Username
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        Rol
                                    </th>
                                    <th>
                                        Imagen
                                    </th>
                                    <th>
                                        Operaciones
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let user of users index as i">
                                        <td scope="row">
                                            {{i+1}}
                                        </td>
                                        <td>
                                            {{user.nombres}}
                                        </td>
                                        <td>
                                            {{user.apellidos}}
                                        </td>
                                        <td>
                                            {{user.userName}}
                                        </td>
                                        <td>
                                            {{user.email}}
                                        </td>
                                        <td class="text-primary">
                                            {{user.rol}}
                                        </td>
                                        <th>
                                            <img *ngIf="user.imagen" [src]="user.imagen" alt="" height="50" width="50">
                                            <img *ngIf="!user.imagen" src="/assets/img/cover.jpeg" alt="" height="50"
                                                width="50">
                                        </th>
                                        <td>
                                            <!-- <a href="#" class="btn btn-info"><span><i class="fa fa-plus"></i></span></a> -->
                                            <button type="button" class="btn btn-info"
                                                routerLink="/admin/edit-user/{{user.id}}"><span><i
                                                        class="fa fa-pen"></i></span></button>
                                            <button type="button" routerLinkActive="router-link-active"
                                                class="btn btn-danger" (click)="onDeleteUser(user.id)"><span><i
                                                        class="fa fa-trash"></i></span></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 d-flex justify-content-center">
                                <pagination [totalItems]="totalItems" [(ngModel)]="currentPage"
                                    [itemsPerPage]="pageSize" [maxSize]="maxSize" (pageChanged)="changePage($event)"
                                    class="pagination-sm">
                                </pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>