<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <div class="ordena">
                            <h4 class="card-title ">Tabla Usuarios</h4>
                            <p class="card-category"> Informacion Usuarios</p>
                        </div>
                        <button class="ordena btn btn-success float-right mb-3" type="button" data-toggle="modal"
                            data-target="#modalUser">Nuevo</button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Nombre
                                    </th>
                                    <th>
                                        Apellido
                                    </th>
                                    <th>
                                        Username
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        Rol
                                    </th>
                                    <th>
                                        Imagen
                                    </th>
                                    <th>
                                        Operaciones
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let user of users index as i">
                                        <td scope="row">
                                            {{i+1}}
                                        </td>
                                        <td>
                                            {{user.nombres}}
                                        </td>
                                        <td>
                                            {{user.apellidos}}
                                        </td>
                                        <td>
                                            {{user.userName}}
                                        </td>
                                        <td>
                                            {{user.email}}
                                        </td>
                                        <td class="text-primary">
                                            {{user.rol}}
                                        </td>
                                        <th>
                                            <img *ngIf="user.imagen" [src]="user.imagen" alt="" height="50" width="50">
                                            <img *ngIf="!user.imagen" src="/assets/img/cover.jpeg" alt="" height="50"
                                                width="50">
                                        </th>
                                        <td>
                                            <!-- <a href="#" class="btn btn-info"><span><i class="fa fa-plus"></i></span></a> -->
                                            <a href="#" class="btn btn-info"><span><i class="fa fa-pen"></i></span></a>
                                            <button routerLinkActive="router-link-active" class="btn btn-danger" (click)="onDeleteUser(user.id)"><span><i class="fa fa-trash"></i></span></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-user-modal (messageToEmit)="getMessage($event)"></app-user-modal>