<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <div class="ordena">
                            <h4 class="card-title ">Tabla Sucursales</h4>
                            <p class="card-category"> Informacion Usuarios</p>
                        </div>
                        <!--
                            <button class="ordena btn btn-success float-right mb-3" type="button" data-toggle="modal"
                            data-target="#modalUser">Nuevo</button>
                        -->
                        <a routerLink="/admin/create-sucursal" routerLinkActive="router-link-active" class="ordena btn btn-success float-right mb-3">Nuevo</a>
                            <input type="text" value="" class=" float-md-right mr-3 mt-2" placeholder="Search...">
                            <div class="dropdown ordena float-md-right mr-3">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                TIPO
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item">Todos</a>
                                <a class="dropdown-item">Comida nacional</a>
                                <a class="dropdown-item">Comida internacional</a>
                                <a class="dropdown-item">Vegetariana</a>
                                <a class="dropdown-item">Vegana</a>
                            </div>
                        </div>
                        <div class="dropdown ordena float-md-right mr-3">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                10
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" (click)="configpagination(10)">10</a>
                                <a class="dropdown-item" (click)="configpagination(25)">25</a>
                                <a class="dropdown-item" (click)="configpagination(50)">50</a>
                                <a class="dropdown-item" (click)="configpagination(100)">100</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Razon social
                                    </th>
                                    <th>
                                        Telefono
                                    </th>
                                    <th>
                                        Descripcion
                                    </th>
                                    <th>
                                        Tipo
                                    </th>
                                    <th>
                                        Nit
                                    </th>
                                    <th>
                                        Apertura
                                    </th>
                                    <th>
                                        Cierre
                                    </th>
                                    <th>
                                        Dias
                                    </th>
                                    <th>
                                        Direccion
                                    </th>
                                    <th>
                                        Imagen
                                    </th>
                                    <th>
                                        Operaciones
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let sucursal of sucursales index as i">
                                        <td scope="row">
                                            {{i+1}}
                                        </td>
                                        <td>
                                            {{sucursal.razon_social}}
                                        </td>
                                        <td>
                                            {{sucursal.telefono}}
                                        </td>
                                        <td>
                                            {{sucursal.descripcion}}
                                        </td>
                                        <td>
                                            {{sucursal.tipo}}
                                        </td>
                                        <td class="text-primary">
                                            {{sucursal.nit}}
                                        </td>
                                        <td>
                                            <p *ngFor="let ha of sucursal.hora_apertura">
                                                {{ha}}
                                            </p>
                                        </td>
                                        <td>
                                            <p *ngFor="let hc of sucursal.hora_cierre">
                                                {{hc}}
                                            </p>
                                        </td>
                                        <td>
                                            <p *ngFor="let dia of sucursal.dias">
                                                {{dia}}
                                            </p>
                                        </td>
                                        <td>
                                            {{sucursal.direccion}}
                                        </td>
                                        <th>
                                            <img *ngIf="sucursal.imagen" [src]="sucursal.imagen" alt="" height="50" width="50">
                                            <img *ngIf="!sucursal.imagen" src="/assets/img/restaurante/res2.jpg" alt="" height="60" width="60">
                                        </th>
                                        <td>
                                            <button type="button" class="btn btn-info" routerLink="/admin/edit-sucursal/{{sucursal.id}}"><span><i
                                                        class="fa fa-pen"></i></span></button>
                                            <button type="button" routerLinkActive="router-link-active" class="btn btn-danger" (click)="onDeleteUser(sucursal.id)"><span><i
                                                        class="fa fa-trash"></i></span></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <!-- <div class="col-xs-12 col-sm-12 col-md-12 d-flex justify-content-center">
                                    <pagination [totalItems]="totalItems" [(ngModel)]="currentPage"
                                        [itemsPerPage]="pageSize" [maxSize]="maxSize" (pageChanged)="changePage($event)"
                                        class="pagination-sm">
                                    </pagination>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
