/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Courgette|Dancing+Script|Inconsolata|Lobster|Luckiest+Guy|Pacifico|Patrick+Hand|Satisfy|Vibes&display=swap|Vollkorn&display=swap');

/* ESTAS SON LAS FUENTES IMPORTADAS 
font-family: 'Dancing Script', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Satisfy', cursive;
font-family: 'Vibes', cursive;
font-family: 'Inconsolata', monospace;
font-family: 'Lobster', cursive;
font-family: 'Courgette', cursive;
font-family: 'Luckiest Guy', cursive;
font-family: 'Patrick Hand', cursive;
font-family: 'Vollkorn', serif;
*/
.dropdown-menu {
    display: none;
    padding: 0.3125rem 0;
    border: 0;
    opacity: 1 !important;
    transform: scale(0);
    transform-origin: 0 0;
    will-change: transform, opacity;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}